<nav class="pageNav">
    <ul class="ib pr20">
        <li class="ib" ng-click="pre(index)">
            <a href="" class="ib h35 lh35 w35 ta bc-lightgrey">
                <span class="iconfont icon-triangle trans-r135 ib pos-r" style="left:3px;" ng-class="preActive ? 'col-blue':''"></span>
            </a>
        </li>
        <li class="ib" ng-repeat="list in numbers track by $index" ng-click="navigation($index)">
            <a href="" class="ib h35 lh35 w35 ta" ng-class="$index == index ?'active':''">{{list}}</a>
        </li>
        <li class="ib" ng-click="next(index)">
            <a href="" class="ib h35 lh35 w35 ta bc-lightgrey">
                <span class="iconfont icon-triangle trans-r-45 ib pos-r" style="left:-3px;" ng-class="nextActive ? 'col-blue':''"></span>
            </a>
        </li>
    </ul>
    <span class="col-semi">共有<span>{{pagesInfo.totalRows}}</span>条，每页显示<span>{{pagesInfo.pageSize}}</span>条</span>
</nav>